/* Your app custom styles here */
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../fonts/poppins-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/poppins-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Italic'), local('Poppins-Italic'),
       url('../fonts/poppins-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('../fonts/poppins-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/poppins-v13-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
       url('../fonts/poppins-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Poppins Black'), local('Poppins-Black'),
       url('../fonts/poppins-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/poppins-v13-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
       url('../fonts/poppins-v13-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-900italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


* {
	font-family: 'Poppins', Arial, sans-serif;
  background-color: #171717;
  color: #86FF2E;
}
body{
  background-color: #171717;
  color: #86FF2E;
}
.tituloPrincipal{
  font-family: 'Poppins', Arial, sans-serif;
  color: #86FF2E;
  text-align: center;
}
#contenedorIndex{
  background-color: #171717;
}
.titulos{
  color: #86FF2E;
  text-align: center;
}
.button{
  font-weight: bold;
}
.botones{
  background-color: #86FF2E;
  color: #171717;
}
.botoneslink{
  color: #ffffd3;
  font-size: 15px;
}
.list-button{
  color: #86FF2E;
}
h3{
  text-align: center;
}
p{
  text-align: center;
}
.titLabels{
  color: white;
}
#ingresoLogin{
  color: #86FF2E;
}
/*PONER ID HAMBURGUESA EN TODAS LAS VISTAS*/
#hamburguesa1{
  color: #86FF2E;
  background-color: #171717;
}
#hamburguesa2{
  color: #86FF2E;
  background-color: #171717;
}
#hamburguesa3{
  color: #86FF2E;
  background-color: #171717;
}
#hamburguesa4{
  color: #86FF2E;
  background-color: #171717;
}
#hamburguesa5{
  color: #86FF2E;
  background-color: #171717;
}
#hamburguesa6{
  color: #86FF2E;
  background-color: #171717;
}
#hamburguesa7{
  color: #86FF2E;
  background-color: #171717;
}
#hamburguesa8{
  color: #86FF2E;
  background-color: #171717;
}
#hamburguesa9{
  color: #86FF2E;
  background-color: #171717;
}
#hamburguesa10{
  color: #86FF2E;
  background-color: #171717;
}
#hamburguesa11{
  color: #86FF2E;
  background-color: #171717;
}
#hamburguesa12{
  color: #86FF2E;
  background-color: #171717;
}
#ingresoLogin{
  font-size: 22px;
}
#volverLogin{
  font-size: 15px;
}
#LScreen{
  background-color: #171717;
}
#pageLScreen{
  background-color: #171717;
}
#tituloPrincipal{
  margin-top: 0px;
}
.portada{
  height: 9vh;
}
.item-label{
  color: #ffffd3;
}
input{
  color: #ffffd3;
}
.panel{
  background-color: #171717;
}
/*PONER A TODAS LAS BARRAS ESTE ID*/
#barraBusqueda{
  background-color: #ffffd3;
}
.notification.modal-in{
  background-color: #171717;
}
.notification-title{
  color: #86FF2E;
}
.notification-close-button{
  color: #ffffd3;
}
.notification-subtitle{
  color: #ffffd3;
}
.notification-icon i{
  color: #86FF2E;
}
.notification-text{
  color: #ffffd3;
}
.list .item-after{
  color: #86FF2E;
}
.calendar-footer{
  background-color: #171717;
}
.calendar-header{
  background-color: #171717;
}
.calendar-footer a {
    color: #86FF2E;
}
.toolbar a.current-month-value{
  color: #86FF2E;
}
.toolbar a.current-year-value{
  color: #86FF2E;
}
.calendar-day-today .calendar-day-number{
  color: #86FF2E;
}
.list .item-label{
  color: #ffffd3;
}
.list .item-floating-label{
    color: #ffffd3;
}
.block-strong{
  background-color: #171717;
}
.list input[type=date], .list input[type=datetime-local], .list input[type=month], .list input[type=time] {
    color: #86FF2E;
}
.list input[type=number]{
  color: #86FF2E;
}
.list input[type=password]{
  color: #86FF2E;
}
.list input[type=search]{
  color: #86FF2E;
}
#horDesde{
  color: #86FF2E;
}
#horHasta{
  color: #86FF2E;
}
/*VER CSS DESDE ACA PARA ABAJO Y BOTONES*/
.actions-button{
  background-color: #86FF2E;

}
.actions-button-text{
  background-color: #86FF2E;
  color: #171717;
}
 .list input[type=email]{
   background-color: #171717;
   color: #c9ec2a;
 }
.list input[type=text]{
  color: #c9ec2a;
}
.input-dropdown-wrap select{
  color: #c9ec2a;
}
.dialog-inner{
  background-color: #ffffd3;
}
.dialog-buttons{
  background-color: #ffffd3;
}
.dialog-title{
  color: #007d0b;
  background-color: #ffffd3;
}
.dialog-text{
  color: #3d3d3d;
  background-color: #ffffd3;
}
.dialog-button.dialog-button-bold{
  color: #c9ec2a;
}
.data-table{
  background-color: #3d3d3d;
  color: #3d3d3d;
}
#tituloTabla{
  color: #c9ec2a;
}
.card{
  background: #3d3d3d;
}
.datosTabla{
  color: #ffffd3;
}
.data-table thead td:not(.sortable-cell-active), .data-table thead th:not(.sortable-cell-active){
  background-color: #ffffd3;
  color: #007d0b;
}
#fotoPerfilCl{
  height: 14vh;
  width: 20vw;
  border: solid 5px #c9ec2a;
  border-radius: 100%;
  margin-left: 35vw;
}